#mod_rewrite starts here

RewriteEngine on 

#does not apply to existing directories, meaning that if the folder exist on the server the change anything and dont run the Rule!

RewriteCond %{REQUEST_FILENAME} !-d

#Check for file in directorywith .html extesion

RewriteCond %{REQUEST_FILENAME}\.html -f

#Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]

