/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
--font-Noto: 'Noto Serif', serif;
--font-Playball : 'Playball', cursive;
--primary-color: #000505 ;
--secondary-color: #fefefa;
--terceary-color: #ff3a28;

}

body{
    font-family: var(--font-Noto);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    position: fixed;

}
.header-title {
    font-size: 1.25rem;
    margin: 1rem;
    font-family: var(--font-Playball);
}

.header-title a{
    color: var(--secondary-color);
    text-decoration: none;
}
.header-title::after{
    content: "";
    display: block;
    background-color: var(--terceary-color);
    height: 0.1rem;
    width: 12rem;
    margin: 0.1rem;
    animation: grow-bar 500ms ease-in;
    transform-origin: left;
}

@keyframes grow-bar {
    0%{
        transform: scaleX(0);
       
    }
    100%{
        transform: scaleX(1);
        
    }
}

.page-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-button{
    background-color: transparent;
    border: none;
}

#nav-button .fa-bars{
    color: var(--terceary-color);
    margin-right: 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.navigation-components{
    display: none;
   

}

.navigation-components.active{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    background-color: var(--primary-color);
    animation: activenav 600ms ease;
  
}

@keyframes activenav {
    0%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(0rem);
    }
}


 nav ul{
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;  
}

 ul li {
    margin-bottom: 1rem;
}

 nav ul li a {
    color: white;
    text-decoration: none;
    font-family: inherit;
    
}
nav ul li a.active {
    color: var(--terceary-color);
}

#close-nav{
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}
.fa-xmark{
    color: var(--terceary-color);
}

.social-links-widgets{
    display: none;
}


#about-me-section{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2rem; 
    padding-top: 6rem;
    
}

.about-tag{
    line-height: 0.5rem;
    padding: 1rem;
}

 .about-tag h1{
    font-size: 1.2rem;
    font-family: inherit;
}
.about-tag span{
    font-size: 0.9rem;
    color: rgb(140, 140, 140);
}

#about-me-section img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 2px solid var(--terceary-color);
}

#about-me-section p {
    text-align: center;
    font-size: 1rem;
    max-width: 25rem;
    margin: 0 auto;

}

#about-me-section a{
    background-color: var(--terceary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    margin: 2rem;
    text-decoration: none;
    font-family: inherit;
    border-radius:12px ;

}

#skills-section{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 0.3rem;
    border-radius: 12px 12px 0px 0px;   
}

#skills-section h3{
    border-bottom: 0.2rem solid var(--terceary-color);
    width: 25%;
    margin: 0 auto;
}

.skills-len-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 33.3%;
    padding: 0.9rem;
}

.lenguage-info{
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
    text-align: center;
 
}
.lenguage-info img{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;

   
}

#project-section{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

#project-section h3{
    border-bottom: 0.2rem solid var(--terceary-color);
    width: 25%;
    margin: 0 auto;
    text-align: center;
}
#project-section .project-info-card img{
    width: 16rem;
    height: 7rem;
    box-shadow: 3px 2px 7px rgba(0,0,0, 0.6);
}

.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.project-info-card{
    margin: 2rem;
}

.project-links{
    text-align: center;
    margin: 0.8rem;
}

.project-links a{
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem;
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--terceary-color);
    border-radius: 12px;
    cursor: pointer;
}

#contact-section{
    color: var(--secondary-color);
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form input{
    background-color: transparent;
    border: none;
    border-bottom: var(--secondary-color) 0.1rem solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

form input::placeholder{
    color: var(--secondary-color);
    font-family: inherit;
}

form input:focus{
    outline: none;
}

form textarea{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0.1rem var(--secondary-color) solid;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: inherit;
}

form textarea::placeholder{
    color: var(--secondary-color);
    font-family: inherit;
}

form input[type='submit']{
    width: 5rem;
    margin: 0.4rem;
    background-color: var(--terceary-color);
    padding: 0.4rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

footer{
    color: rgb(121, 121, 121);
    padding: 2rem;
    border-top: var(--terceary-color) 0.3rem solid;
    margin-top: 2rem;
    text-align: center;
}

footer .social-icons a{
    font-size: 1.5rem;
    color: rgb(121, 121, 121);
    margin: 0.5rem;
}

@media (min-width: 806px ){
    
    h3{
        font-size: 1.8rem;
    }
    .header-title{
        font-size: 1.5rem;
    }
    .header-title::after{
        width: 15rem;
    }
    .navigation-components{
        display: block;
        background-color: transparent;
        margin-right: 1.5rem;
    }

 
    .navigation-components ul  {
        display: flex;
        flex-direction: row;
      
    }
    .navigation-components ul li {
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .navigation-components ul li{
        margin-right: 1rem;
    }

    .navigation-components ul li a:hover{
        color: var(--terceary-color);
    }

    #close-nav{
        display: none;
    }
   

     button .fa-bars{
        display: none;
    }

    #project-section .project-info-card img{
        width: 19rem;
        height: 10rem;
    }
    
    .social-links-widgets{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 100px;
        right: 20px;
    }

    .social-links-widgets a{
        color: rgb(121, 121, 121);
        font-size: 1.8rem;
        margin: 0.5rem;
    }
    .social-links-widgets a:hover .fa-linkedin-in{
        color: rgb(0, 119, 181);
    }
    .social-links-widgets a:hover .fa-github{
        color: #913399;
    }

    #about-me-section img{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
    
    }
    .about-tag{
        line-height: 1rem;
    }

    .skills-len-logos{
        padding: 4rem;
    }
  
    form input{
        width: 20rem;
        padding: 0.4rem;
    }

    form input[type='submit']:hover{
     background-color: var(--secondary-color);
     color: var(--terceary-color);
    }
}
    
